.sign-up-page
= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
  -# 2ページ目
  .sign-up-page-2
    = render partial: "users/signup_header"
  .user-info__content
    .user-info__content__header
      %h2 会員情報入力
    .user-info__content__body
      .user-info__content__body__form
        .user-info__content__form-group-first
          .user-info__content__title
            ニックネーム
          .required-field 必須
          = f.text_field :nickname, class: "user-info__content__form", id: "nickname", autofocus: true, placeholder: "例）メルカリ太郎", type: "text"
          = f.hidden_field :uid
          = f.hidden_field :provider
          = f.hidden_field :password
        .user-info__content__form-group
          .user-info__content__title
            メールアドレス
          .required-field 必須
          = f.email_field :email, class: "user-info__content__form", id: "email", autofocus: true, autocomplete: "email",placeholder: "PC・携帯どちらでも可", type: "email"
        - unless @user.password
          .user-info__content__form-group
            .user-info__content__title
              パスワード
            .required-field 必須
            = f.password_field :password, class: "user-info__content__form",id: "password", autocomplete: "new-password",placeholder: "7文字以上", type: "password", minlength: "7"
          .user-info__content__form-group  
            .user-info__content__title
              パスワード（確認）
            .required-field 必須
            = f.password_field :password_confirmation, class: "user-info__content__form",id: "password-comfirm",autocomplete: "new-password",placeholder: "7文字以上", type: "password", mlength: "7"
        .user-info__content__form-group  
          .user-info__content__body__form__announce-header
            本人確認
          .user-info__content__body__form__announce-explain
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .user-info__content__form-group  
          %div
            .user-info__content__title
              お名前（全角）
            .required-field 必須
          = f.text_field :last_name2, class:"user-info__content__form-half",placeholder: "例）山田"
          = f.text_field :first_name2, class:"user-info__content__form-half",placeholder: "例）彩"
        .user-info__content__form-group  
          %div
            .user-info__content__title
              お名前カナ（全角）
            .required-field 必須
          = f.text_field :last_name_kana2, class:"user-info__content__form-half",placeholder: "例）ヤマダ"
          = f.text_field :first_name_kana2, class:"user-info__content__form-half",placeholder: "例）アヤ"
        .user-info__content__form-group  
          %div
            .user-info__content__title
              生年月日
            .required-field 必須
          .birthday-box 
            .birthday-form 
              = raw sprintf(f.date_select(:birthday, {use_month_numbers: true, start_year: 1930, end_year: (Time.now.year), default: Time.now() ,date_separator: '%s'},{class: "birthday-form__select"}), '年 ', '月 ') + '日' do
                %i.fa.fa-chevron-down.birthday-form__select__chevron      
        .user-info__content__comfirm
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .user-info__content__body__form
          .user-info__content__form-group
            %p.user-info__content__form-group__comfirm「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします。
          .user-info__content__next-btn#next-btn
            次へ進む
          .user-info__content__body__form__reason
            = link_to "#", method: :get  do
              電話番号の確認が必要な理由　>

  = render partial: "users/signup_footer"

  -# 3ページ目
  .sign-up-page-3
    .user-info__header
      .user-info__header__mercari-icon
        = link_to(root_path, {}) do
          = image_tag "mercari_logo_horizontal.png", class: "user-info__header__mercari-icon__image"
      .user-info__header__progress
        .user-info__header__progress__flat-bar
          .user-info__header__progress__flat-bar__left
          .user-info__header__progress__flat-bar__right
        .user-info__header__progress__current-now
          会員情報
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          電話番号認証
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current
          お届け先住所入力
          .user-info__header__progress__current__round
        .user-info__header__progress__current
          支払い方法
          .user-info__header__progress__current__round
        .user-info__header__progress__current
          完了
          .user-info__header__progress__current__round
    .sign-up__tel-authentication
      .sign-up__tel-authentication__header
        %h2 電話番号の確認
      .sign-up__tel-authentication__body
        .sign-up__tel-authentication__body__content
          .sign-up__tel-authentication__body__content__tel
            .sign-up__tel-authentication__body__content__tel__title
            携帯電話の番号
            %br 
          = f.text_field :phone_number, class: "sign-up__tel-authentication__body__content__tel__form",id: "phone_number", autofocus: true, placeholder: "携帯電話の番号を入力", type: "text"
          .sign-up__tel-authentication__body__content__tel__discription
          本人確認のため、携帯電話のSMS（ショートメッセージサービス）を利用して印象を行います行います。
          .sign-up__tel-authentication__body__content__btn-group
            .sign-up__tel-authentication__body__content__btn-group__btn
              SMSを送信する
            .sign-up__tel-authentication__body__content__btn-group__discription
              *電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .sign-up__tel-authentication__body__content__btn-group__reason
              = link_to "#", method: :get  do
                電話番号の確認が必要な理由　>

    = render partial: "users/signup_footer"

  -# 4ページ目
  .sign-up-page-4
    .user-info__header
      .user-info__header__mercari-icon
        = link_to(root_path, {}) do
          = image_tag "mercari_logo_horizontal.png", class: "user-info__header__mercari-icon__image"
      .user-info__header__progress
        .user-info__header__progress__flat-bar
          .user-info__header__progress__flat-bar__left
          .user-info__header__progress__flat-bar__right
        .user-info__header__progress__current-now
          会員情報
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          電話番号認証
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          お届け先住所入力
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current
          支払い方法
          .user-info__header__progress__current__round
        .user-info__header__progress__current
          完了
          .user-info__header__progress__current__round

    .sign-up__shipping-address
      .sign-up__shipping-address__header
        %h2 住所入力
      .sign-up__shipping-address__body
        .sign-up__shipping-address__body__content
          .sign-up__shipping-address__form-group-first
            .sign-up__shipping-address__title
              お名前
            .required-field 必須
            = f.text_field :last_name, class: "sign-up__shipping-address__form",id: "last_name", autofocus: true, placeholder: "例）山田", type: "text"
            = f.text_field :first_name, class: "sign-up__shipping-address__form",id: "first_name", autofocus: true, placeholder: "例）彩", type: "text"
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              お名前カナ
            .required-field 必須
            = f.text_field :last_name_kana, class: "sign-up__shipping-address__form",id: "last_name_kana", autofocus: true, placeholder: "例）ヤマダ", type: "text"
            = f.text_field :first_name_kana, class: "sign-up__shipping-address__form",id: "first_name_kana", autofocus: true, placeholder: "例）アヤ", type: "text"
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              郵便番号
            .required-field 必須
            = f.text_field :postal_code, class: "sign-up__shipping-address__form",id: "postal_code", autofocus: true, placeholder: "例）123-4567", type: "text"
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              都道府県
            .required-field 必須
            .sign-up__shipping-address__body__content__form-group__prep-select
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name ,{},class: 'sign-up__shipping-address__body__content__form-group__prep-select__prep-form', id:"prefecture"
              %i.fa.fa-chevron-down.sign-up__shipping-address__body__content__form-group__prep-select__chevron
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              市町村区
            .required-field 必須
            = f.text_field :city, class: "sign-up__shipping-address__form",id: "city", autofocus: true, placeholder: "例）横浜市緑区", type: "text"
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              番地
            .required-field 必須
            = f.text_field :address, class: "sign-up__shipping-address__form",id: "address", autofocus: true, placeholder: "例）青山1-1-1", type: "text"
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              番地
            .optional-field 任意
            = f.text_field :building, class: "sign-up__shipping-address__form",id: "building", autofocus: true, placeholder: "例）柳ビル103", type: "text"
          .sign-up__shipping-address__form-group
            .sign-up__shipping-address__title
              電話
            .optional-field 任意
            = f.text_field :phone_number2, class: "sign-up__shipping-address__form", autofocus: true, placeholder: "例）09012345678", type: "text"
          .sign-up__shipping-address__next-btn
            次へ進む

    = render partial: "users/signup_footer"

  -# 5ページ目
  .sign-up-page-5
    .user-info__header
      .user-info__header__mercari-icon
        = link_to(root_path, {}) do
          = image_tag "mercari_logo_horizontal.png", class: "user-info__header__mercari-icon__image"
      .user-info__header__progress
        .user-info__header__progress__flat-bar
          .user-info__header__progress__flat-bar__left
          .user-info__header__progress__flat-bar__right
        .user-info__header__progress__current-now
          会員情報
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          電話番号認証
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          お届け先住所入力
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          支払い方法
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current
          完了
          .user-info__header__progress__current__round

    .main-inputcredit
      .main-inputcredit__header
        支払い方法
      .main-inputcredit__box
        .main-inputcredit__box__main
          .card-box-number
            %label
              カード番号
            %span.card-box-com
              必須
              %br
            = f.text_field :cardbox_input, class: "cardbox-input", id: "cardbox-input", placeholder:"半角数字のみ", type:"text"
            %ul.card-box-number__icom
              %li
                = image_tag "visa.svg", class: 'card-box-number__icom__list'
              %li
                = image_tag "master-card.svg", class: 'card-box-number__icom__list'
              %li
                = image_tag "saison-card.svg", class: 'card-box-number__icom__list'
              %li
                = image_tag "jcb.svg", class: 'card-box-number__icom__list'
              %li
                = image_tag "american_express.svg", class: 'card-box-number__icom__list'
              %li
                = image_tag "dinersclub.svg", class: 'card-box-number__icom__list'
              %li
                = image_tag "discover.svg", class: 'card-box-number__icom__list'
          .card-box-limit
            %label
              有効期限
            %span.card-box-com
              必須
            %br
            .card-box-limit__moon
              = fa_icon 'angle-down limit-select'
              = f.select :moonbox, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{}, class: "moon-box__selecter" , id: "moon-box__selecter"
              %span
                月
            .card-box-limit__year
              = fa_icon 'angle-down limit-select'
              = f.select :yearbox, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{}, class: "year-box__selecter", id: "year-box__selecter"
              %span
                年
          .card-box-secrity
            %label
              セキュリティコード
            %span.card-box-com
              必須
              %br
            = f.text_field :cardbox_input_security, class: "cardbox-input-security", id: "cardbox-input-security", placeholder: "カード背面4桁もしくは3桁の番号", type: "text"
            .card-box-secrity__link
              .card-box-secrity__link__question
                ?
              .card-box-secrity__link__open
                カード裏面の番号とは？
          .identification-registration-btn
            次へ進む
          #card
    = render partial: "users/signup_footer"

  -# 6ページ目
  .sign-up-page-6
    .user-info__header
      .user-info__header__mercari-icon
        = link_to(root_path, {}) do
          = image_tag "mercari_logo_horizontal.png", class: "user-info__header__mercari-icon__image"
      .user-info__header__progress
        .user-info__header__progress__flat-bar
          .user-info__header__progress__flat-bar__left
          .user-info__header__progress__flat-bar__right
        .user-info__header__progress__current-now
          会員情報
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          電話番号認証
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          お届け先住所入力
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          支払い方法
          .user-info__header__progress__current-now__round
        .user-info__header__progress__current-now
          完了
          .user-info__header__progress__current-now__round
    .sign-up__complete
      .sign-up__complete__header
        %h2 会員登録完了
      .sign-up__complete__body
        .sign-up__complete__body__content
          .sign-up__complete__body__content__form-group
            ありがとうございます。
            %br 会員登録が完了しました。
            #card_token
          = f.submit "メルカリをはじめる", class:"sign-up__complete__body__content__next-btn", id:"sign-up__complete__body__content__next-btn"
    = render partial: "users/signup_footer"
