.product-contents
  %header.product-header
    %h1
      = link_to('#', {}) do
        = image_tag "mercari_logo_horizontal.png", :class => "header-image"
.buy-comfirm
  .buy-comfirm__header
    %h2 購入内容の確認
  .buy-comfirm__buy
    .buy-comfirm__buy__inner
      .buy-comfirm__buy__inner__item
        .buy-comfirm__buy__inner__item__photo
          = image_tag(@product.images[0].variant(resize: "64x120"))
        .buy-comfirm__buy__inner__item__name
          %p 
            = @product.name
      .buy-comfirm__buy__inner__subtotal-price
        = @product.price.to_s(:delimited)
        .buy-comfirm__buy__inner__subtotal-price__shipping-fee
          %p 
            = @product.burden.name
      .buy-comfirm__buy__inner__total-price
        .buy-comfirm__buy__inner__total-price__cell
          支払い金額
        .buy-comfirm__buy__inner__total-price__cell
          ¥
          = @product.price.to_s(:delimited)
      = link_to pay_seller_path(@product.id), method: :post do
        %button.buy-comfirm__buy__inner__buy-btn
          購入する
  .buy-comfirm__delivery
    .buy-comfirm__delivery__inner
      %h3 配送先
      .buy-comfirm__delivery__inner__address
        〒
        =@user.postal_code
        %br 
          = @user.prefecture
          = @user.city
          = @user.address
      .buy-comfirm__delivery__inner__edit-btn
        = link_to "変更する　>", "seller_path", method: :get  
  .buy-comfirm__pay-method
    .buy-comfirm__pay-method__inner
      %h3 支払い方法
      .buy-comfirm__pay-method__inner__info
        - if @default_card_information.blank?
          %br /
        - else
          -#以下カード情報を表示
          = "**** **** **** " + @default_card_information.last4
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      .buy-comfirm__pay-method__inner__edit-btn
        = link_to "変更する　>", "seller_path", method: :get  
.product-contents
  %footer.product-footer
    %nav
      %ul.clearfix
        %li
          = link_to('#', {}) do
            プライバシーポリシー
        %li
          = link_to('#', {}) do
            メルカリ利用規約
        %li
          = link_to('#', {}) do
            特定商取引に関する表記
    = link_to('#', class:'bottom-image') do
      = image_tag(src= "logo-gray.svg")
    %p
      %small© 2019 Mercari

      

  
