.user-info__footer
  %nav
    %ul.clearfix
      %li
        = link_to('#', {}) do
          プライバシーポリシー
      %li
        = link_to('#', {}) do
          メルカリ利用規約
      %li
        = link_to('#', {}) do
          特定商取引に関する表記
  = link_to('#', class:'bottom-image') do
    = image_tag(src= "logo-gray.svg")
  %p
    %small© 2019 Mercari
