-# １ページ目
.product-contents
  %header.product-header
    %h1
      = link_to('#', {}) do
        = image_tag "mercari_logo_horizontal.png", :class => "header-image"
.sign-up__content
  .sign-up__content__header
    %h2 新規会員登録
  .sign-up__content__registation
    .sign-up__content__registation__box
      %button.sign-up__content__registation__box__mail
        %i.fa.fa-envelope-o
          =link_to "メールアドレスで登録する", "/users/sign_up" 
      %button.sign-up__content__registation__box__facebook
        %i.fa.fa-facebook-official
          =link_to "Facebookで登録する",user_facebook_omniauth_authorize_path,method: :post
      %button.sign-up__content__registation__box__google
        %i.fa.fa-google

          =link_to "Googleで登録する",user_google_oauth2_omniauth_authorize_path,method: :post
  .sign-up__content__graybox
.product-contents
  %footer.product-footer
    %nav
      %ul.clearfix
        %li
          = link_to('#', {}) do
            プライバシーポリシー
        %li
          = link_to('#', {}) do
            メルカリ利用規約
        %li
          = link_to('#', {}) do
            特定商取引に関する表記
    = link_to('#', class:'bottom-image') do
      = image_tag(src= "logo-gray.svg")
    %p
      %small© 2019 Mercari

