
.main-box
  .main-box__header
    = render 'products/header'
  .main
    .main__user
      .input-bar
        .input-bar__title
          本人情報の登録
        .input-bar__form-field
          = form_with  do |f|
            .input-bar__form-field__document
              %p 
                お客さまの本人情報をご登録ください。
                %br
                登録されたお名前生年月日を変更する場合、本人確認書類の提出が必要になります。
              %p.input-bar__form-field__document__btm
                = link_to '本人確認書類のアップロードについて','#'
                = fa_icon 'angle-right document__btm'
            .input-bar__form-field__box
              %label
                お名前
              %p
                山田 太郎
            .input-bar__form-field__box
              %label
                お名前カナ
              %p
                ヤマダ タロウ
            .input-bar__form-field__box
              %label
                生年月日
              %p
                2019/8/6
            .input-bar__form-field__box
              %label
                郵便番号
              %span
                任意
                %br
              = f.text_field :postal_code, class: 'form-input-box', placeholder: '例）1234567'
            .input-bar__form-field__box
              %label
                都道府県
              %span
                任意
                %br
              .form-select-box
                = fa_icon 'angle-down select-btm-box'
                = f.select :prefecture, ["--","北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"],{}, class: "form-select-box__selecter"
            .input-bar__form-field__box
              %label
                市区町村
              %span
                任意
                %br
              = f.text_field :city, class: 'form-input-box', placeholder: '例）横浜市緑区'
            .input-bar__form-field__box
              %label
                番地
              %span
                任意
                %br
              = f.text_field :address, class: 'form-input-box', placeholder: '例）青山1-1-1'
            .input-bar__form-field__box
              %label
                建物名
              %span
                任意
                %br
              = f.text_field :building, class: 'form-input-box', placeholder: '例）柳ビル103'
            = f.submit '登録する', class: 'identification-registration-btn'
            .input-bar__form-field__box
              %p.input-bar__form-field__box__btm
                = link_to '本人情報の登録について','#'
                = fa_icon 'angle-right document__btm'
    .main__user-bar
      .side-nav
        %ul.user-list
          %li.user-list__box
            = link_to '/users',class: 'user-list__box__btm' do
              マイページ
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/news',class: 'user-list__box__btm' do
              お知らせ
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/task',class: 'user-list__box__btm' do
              やることリスト
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              出品する
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/exhibit',class: 'user-list__box__btm' do
              出品した商品-出品中
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/sale',class: 'user-list__box__btm' do
              出品した商品-取引中
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/trade',class: 'user-list__box__btm' do
              出品した商品-売却済み
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/transaction',class: 'user-list__box__btm' do
              購入した商品-取引中
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/past',class: 'user-list__box__btm' do
              購入した商品-過去の取引
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              ニュース一覧
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              評価一覧
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              ガイド
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              お問い合わせ
              = fa_icon 'angle-right side-bar'
        .com
          メルペイ
        %ul.user-list
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              売上・振込申請
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              ポイント
              = fa_icon 'angle-right side-bar'
        .com
          設定
        %ul.user-list
          %li.user-list__box
            = link_to '/users/#{current_user.id}/edit',class: 'user-list__box__btm' do
              プロフィール
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              発送元・お届け先住所変更
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/card',class: 'user-list__box__btm' do
              支払い方法
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              メール/パスワード
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/identifications/new',class: 'user-list__box__btm choice' do
              本人情報
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '#',class: 'user-list__box__btm' do
              電話番号の確認
              = fa_icon 'angle-right side-bar'
          %li.user-list__box
            = link_to '/users/logout',class: 'user-list__box__btm' do
              ログアウト
              = fa_icon 'angle-right side-bar'
= render 'users/footer'