= render 'products/header'

.top-page-main
  .top-main

    -# スライドヘッダー（特集ページ）
    .top-main-headerbox
      %div
        .top-main__header
          .top-main__header__back
      %div
        .top-main__header2
          .top-main__header__back2
            .top-main__header__back2__box
              .top-main__header__back2__box__left
                %h2.top-main__header__back2__box__left__top
                  スマホでかんたん
                  %br
                  フリマアプリ
                %p.top-main__header__back2__box__left__center
                  メルカリはスマホカメラからすぐに出品できる
                  %br
                  購入時も安心な独自システムのアプリです
                .top-main__header__back2__box__left__bottom
                  .top-main__header__back2__box__left__bottom__icon
                    = link_to('#', {}) do
                      = image_tag "app_store.png", :class =>"image__banner__left__icon__app__apple"
                    = link_to('#', {}) do
                      = image_tag "google_play.png", :class =>"image__banner__left__icon__app__google"
              .top-main__header__back2__box__right
                = image_tag "main_content_pc.png"

    -# カテゴリ一覧
    .top-main__pickup
      %h2.top-main__pickup__head
        ピックアップカテゴリー
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "レディース 新着アイテム", category_products_path(category_id: 1), method: :get
        .top-main__pickup__select__item
          - @ladys_products.each do |ladys_product|
            .top-main__pickup__select__item__box
              = link_to product_path(ladys_product.id) do
                - if ladys_product.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(ladys_product.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = ladys_product.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = ladys_product.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る", category_products_path(category_id: 1), method: :get

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "メンズ 新着アイテム",category_products_path(category_id: 200), method: :get
        .top-main__pickup__select__item
          - @mens_products.each do |mens_product|
            .top-main__pickup__select__item__box
              = link_to product_path(mens_product.id) do
                - if mens_product.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(mens_product.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = mens_product.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = mens_product.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る",category_products_path(category_id: 200), method: :get

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ベビー・キッズ 新着アイテム",category_products_path(category_id: 346), method: :get
        .top-main__pickup__select__item
          - @babys_products.each do |babys_product|
            .top-main__pickup__select__item__box
              = link_to product_path(babys_product) do
                - if babys_product.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(babys_product.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = babys_product.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = babys_product.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る",category_products_path(category_id: 346), method: :get

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "コスメ・香水・美容 新着アイテム",category_products_path(category_id: 798), method: :get
        .top-main__pickup__select__item
          - @beauties_products.each do |beauties_product|
            .top-main__pickup__select__item__box
              = link_to product_path(beauties_product.id) do
                - if beauties_product.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(beauties_product.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = beauties_product.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = beauties_product.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る",category_products_path(category_id: 798), method: :get

    -# ブランド一覧        
    .top-main__pickup
      %h2.top-main__pickup__head
        ピックアップブランド

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "シャネル 新着アイテム"
        .top-main__pickup__select__item
          - @chanel.each do |chanel|
            .top-main__pickup__select__item__box
              = link_to product_path(chanel.id) do
                - if chanel.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(chanel.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = chanel.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = chanel.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ルイ ヴィトン 新着アイテム"
        .top-main__pickup__select__item
          - @vuitton.each do |vuitton|
            .top-main__pickup__select__item__box
              = link_to product_path(vuitton.id) do
                - if vuitton.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(vuitton.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = vuitton.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = vuitton.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "シュプリーム 新着アイテム"
        .top-main__pickup__select__item
          - @supreme.each do |supreme|
            .top-main__pickup__select__item__box
              = link_to product_path(supreme.id) do
                - if supreme.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(supreme.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = supreme.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = supreme.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"

      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ナイキ 新着アイテム"
        .top-main__pickup__select__item
          - @nike.each do |nike|
            .top-main__pickup__select__item__box
              = link_to product_path(nike.id) do
                - if nike.images[0]
                  .top-main__pickup__select__item__box__phot
                    = image_tag(nike.images[0].variant(resize: "213x213"))
                  .top-main__pickup__select__item__box__details
                    .top-main__pickup__select__item__box__details__name
                      = nike.name
                    .top-main__pickup__select__item__box__details__num
                      .top-main__pickup__select__item__box__details__num__price
                        = nike.price.to_s(:delimited)
                      .top-main__pickup__select__item__box__details__num__like
                        ♡
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
  = render 'users/footer'
  = render 'products/bigicon'