= render 'products/header'

.top-page-main
  .top-main
    .top-main-headerbox
      %div
        .top-main__header
          .top-main__header__back
      %div
        .top-main__header2
          .top-main__header__back2
            .top-main__header__back2__box
              .top-main__header__back2__box__left
                %h2.top-main__header__back2__box__left__top
                  スマホでかんたん
                  %br
                  フリマアプリ
                %p.top-main__header__back2__box__left__center
                  メルカリはスマホカメラからすぐに出品できる
                  %br
                  購入時も安心な独自システムのアプリです
                .top-main__header__back2__box__left__bottom
                  .top-main__header__back2__box__left__bottom__icon
                    = link_to('#', {}) do
                      = image_tag "app_store.png", :class =>"image__banner__left__icon__app__apple"
                    = link_to('#', {}) do
                      = image_tag "google_play.png", :class =>"image__banner__left__icon__app__google"
              .top-main__header__back2__box__right
                = image_tag "main_content_pc.png"
    .top-main__pickup
      %h2.top-main__pickup__head
        ピックアップカテゴリー
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "レディース新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "メンズ新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ベビー・キッズ新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "コスメ・香水・美容 新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
    .top-main__pickup
      %h2.top-main__pickup__head
        ピックアップブランド
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "シャネル新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ルイヴィトン新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "シュプリーム新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
      .top-main__pickup__select
        %h3.top-main__pickup__select__center
          .top-main__pickup__select__center__text
            =link_to "ナイキ新着アイテム"
        .top-main__pickup__select__item
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
          .top-main__pickup__select__item__box
            .top-main__pickup__select__item__box__phot
              メルカリ
            .top-main__pickup__select__item__box__phot__aaa
              こんにちは
        .top-main__pickup__select__all
          .top-main__pickup__select__all__text
            =link_to "すべての商品を見る"
  = render 'users/footer'
  = render 'products/bigicon'